---
import type { KnownLocale } from '../../types';
import TeamHero from './components/TeamHero.astro';
import CompanyWorks from './components/CompanyWorks.astro';
import BehindJoke from './components/BehindJoke.astro';
import BobMasterPlan from './components/BobMasterPlan.astro';
import ProductManifesto from './components/ProductManifesto.astro';
import MemoryWall from './components/MemoryWall.astro';
import BobModelBook from './components/BobModelBook.astro';
import SupportTransition from './components/SupportTransition.astro';
import { getTranslation } from './i18n';
import './styles/team-landing.css';

interface Props {
    locale: KnownLocale;
}

const { locale } = Astro.props;
const { pageContent } = getTranslation(locale);
---
<div class="team-landing" data-locale={locale}>
    <TeamHero t={pageContent.hero} />
    <CompanyWorks t={pageContent.companyWorks} />
    <BehindJoke t={pageContent.behindJoke} />
    <BobMasterPlan t={pageContent.translationComic} />
    <ProductManifesto t={pageContent.productManifesto} />
    <MemoryWall t={pageContent.memoryWall} />
    <BobModelBook />
    <SupportTransition locale={locale} t={pageContent.supportTransition} />
</div>
